RewriteEngine on

###
# Prevent a redirect loop when stripping html and php from files
###
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]


###
# Add a trailing slash to any file request 
# that doesn't end with an extension or a slash.
###
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

###
# Serve the .html file without the extension
###
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+?)/?$ $1.html [NC,L]

###
# Serve the .php file without the extension
###
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+?)/?$ $1.php [NC,L]


###
# Strip the .php or .html extension of any requests and redirect.
#
# See the rule below that will take the new stripped uri
# and actually serve the .php file.
###
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.+)\.(html|php)$ /$1/ [NC,R=301,L]
