<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Force Canonical Hostname" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.generalpatton\.org$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.generalpatton.org/{R:1}" />
                </rule>
                <rule name="Add trailing slash on requests" enabled="true" stopProcessing="true">
                    <match url="(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(\.[a-zA-Z0-9]{1,5}|/)$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
                </rule>
                <rule name="Serve php files without extension" enabled="true" stopProcessing="true">
                    <match url="^(.+?)/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" logRewrittenUrl="true" />
                </rule>
                <rule name="Strip php extensions from files" enabled="true" stopProcessing="true">
                    <match url="(.+)\.(php)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
